
@{
    ViewBag.Title = "Encuesta Existe";
}

<div class="container text-center">
    <h2>Ya se ha registrado una encuesta para este proyecto.</h2>
    <h3>Soluciones TI</h3>
    <img class="w-25" src="~/Images/logo_adex_azul.png" />
</div>


