
@{
    ViewBag.Title = "MisProyectos";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1>Tablero de Proyectos</h1>
            </div>
        </div>
    </div>
</section>

<section class="content pb-3">
    <div class="container-fluid h-100">
        <div class="card card-row card-secondary">
            <div class="card-header">
                <h3 class="card-title">
                    Por Hacer
                </h3>
            </div>
            <div class="card-body">
                
                <div class="card card-secondary card-outline">
                    <div class="card-header">
                        <h5 class="card-title">Titulo Proyecto</h5>
                        <div class="card-tools">
                            <a href="#" class="btn btn-tool">
                                <i class="fas fa-pen"></i>
                            </a>
                            <a href="#" class="btn btn-tool">
                                <i class="fas fa-pen"></i>
                            </a>
                            <a href="#" class="btn btn-tool">
                                <i class="fas fa-pen"></i>
                            </a>
                            <a href="#" class="btn btn-tool">
                                <i class="fas fa-pen"></i>
                            </a>
                        </div>

                    </div>
                    <div class="card-body">
                        <p>
                            Tareas
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-row card-primary">
            <div class="card-header bg-danger">
                <h3 class="card-title">
                    En Espera
                </h3>
            </div>
            <div class="card-body">
                <div class="card card-danger card-outline">
                    <div class="card-header">
                        <h5 class="card-title">Create first milestone</h5>
                        <div class="card-tools">
                            <a href="#" class="btn btn-tool">
                                <i class="fas fa-pen"></i>
                            </a>
                            <a href="#" class="btn btn-tool">
                                <i class="fas fa-pen"></i>
                            </a>
                            <a href="#" class="btn btn-tool">
                                <i class="fas fa-pen"></i>
                            </a>
                            <a href="#" class="btn btn-tool">
                                <i class="fas fa-pen"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-row card-default">
            <div class="card-header bg-warning">
                <h3 class="card-title">
                    En Proceso
                </h3>
            </div>
            <div class="card-body">
                <div class="card card-light card-outline">
                    <div class="card-header">
                        <h5 class="card-title">Update Readme</h5>
                        <div class="card-tools">
                            <a href="#" class="btn btn-tool btn-link">#2</a>
                            <a href="#" class="btn btn-tool">
                                <i class="fas fa-pen"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            Aenean commodo ligula eget dolor. Aenean massa.
                            Cum sociis natoque penatibus et magnis dis parturient montes,
                            nascetur ridiculus mus.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-row card-success">
            <div class="card-header">
                <h3 class="card-title">
                    Concluido
                </h3>
            </div>
            <div class="card-body">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h5 class="card-title">Create repo</h5>
                        <div class="card-tools">
                            <a href="#" class="btn btn-tool btn-link">#1</a>
                            <a href="#" class="btn btn-tool">
                                <i class="fas fa-pen"></i>
                            </a>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</section>