@using Gestion_Proyectos_BE
@{
    ViewBag.Title = "Mis Proyectos";
    Usuario_BE reg = (Usuario_BE)Session["usuario"];
    Layout = "~/Views/Shared/_LayoutKanban.cshtml";
}


    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <h1>Tablero de Proyectos</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="content pb-3">
        <div class="container-fluid h-100">
            <div class="card card-row card-secondary">
                <div class="card-header">
                    <h3 class="card-title">
                        Por Hacer
                    </h3>
                </div>
                <div class="card-body">
                    <div class="cardPorHacer">

                    </div>


                </div>
            </div>
            <div class="card card-row card-primary">
                <div class="card-header bg-danger">
                    <h3 class="card-title">
                        En Espera
                    </h3>
                </div>
                <div class="card-body">
                    <div class="cardEnEspera">

                    </div>
                </div>
            </div>
            <div class="card card-row card-default">
                <div class="card-header bg-warning">
                    <h3 class="card-title" style="color:white!important;">
                        En Proceso
                    </h3>
                </div>
                <div class="card-body">
                    <div class="cardEnProceso">

                    </div>
                </div>
            </div>
            <div class="card card-row card-success">
                <div class="card-header">
                    <h3 class="card-title">
                        Concluido
                    </h3>
                </div>
                <div class="card-body">
                    <div class="cardConcluido">

                    </div>
                </div>
            </div>
        </div>
    </section>




@section Scripts {
    <script>
        $(document).ready(function () {
            var IdUsuario = @reg.IdUsuario;
            console.log(IdUsuario);
            if (IdUsuario != "" ) {
                    $.ajax({
                        type: "get",
                        url: '@Url.Action("GetProyectosPorUsuario", "Proyectos")' + '?Id=' + IdUsuario,
                        success: function (listaInformacion) {
                            if (listaInformacion.data != 0) {

                                $(listaInformacion.data).each(function (i, value) {
                                    
                                    if (value.EstadoProyecto == "No iniciado") {
                                        $(".cardPorHacer").append("<div class='card card-secondary card-outline'>" +
                                            "<div class='card-header'>" +
                                            "<h5 class='card-title'>" + value.Nombre + "</h5>" +
                                            "<div class='card-tools'>" +
                                            "<a href='#' class='btn btn-tool'>" +
                                            "<i class='fas fa-pen' style='color: #6c757d;'></i>" +
                                            "</a>" +
                                            "<a href='#' class='btn btn-tool'>" +
                                            "<i class='fas fa-pen' style='color: #dc3545;'></i>" +
                                            "</a>" +
                                            "<a href='#' class='btn btn-tool'>" +
                                            "<i class='fas fa-pen' style='color:#ffc107;'></i>" +
                                            "</a>" +
                                            "<a href='#' class='btn btn-tool'>" +
                                            "<i class='fas fa-pen' style='color: #28a745;'></i>" +
                                            "</a>" +
                                            "<a href='#' class='btn btn-tool'>" +
                                            "<i class='fas fa-search' style='color: #007bff;'></i>" +
                                            "</a>" +
                                            "</div>" +
                                            "</div >" +
                                            "<div class='card-body'>" +
                                            "<div class='agregarTareas'>" +

                                            "</div>" +
                                            "</div>" +
                                            "</div>" + "");
                                        
                                            

                                        } else
                                            if (value.EstadoProyecto == "Detenido") {
                                                console.log("En Espera: " + value.Nombre);
                                                $(".cardEnEspera").append("<div class='card card-secondary card-outline'>" +
                                                    "<div class='card-header'>" +
                                                    "<h5 class='card-title'>" + value.Nombre + "</h5>" +
                                                    "<div class='card-tools'>" +
                                                    "<a href='#' class='btn btn-tool'>" +
                                                    "<i class='fas fa-pen' style='color: #6c757d;'></i>" +
                                                    "</a>" +
                                                    "<a href='#' class='btn btn-tool'>" +
                                                    "<i class='fas fa-pen' style='color: #dc3545;'></i>" +
                                                    "</a>" +
                                                    "<a href='#' class='btn btn-tool'>" +
                                                    "<i class='fas fa-pen' style='color:#ffc107;'></i>" +
                                                    "</a>" +
                                                    "<a href='#' class='btn btn-tool'>" +
                                                    "<i class='fas fa-pen' style='color: #28a745;'></i>" +
                                                    "</a>" +
                                                    "<a href='#' class='btn btn-tool'>" +
                                                    "<i class='fas fa-search' style='color: #007bff;'></i>" +
                                                    "</a>" +
                                                    "</div>" +
                                                    "</div >" +
                                                    "<div class='card-body'>" +
                                                    "<div class='agregarTareas'>" +
                                                    "<div class='custom-control custom-checkbox'>" +
                                                    "<input class='custom-control-input' type='checkbox' id='customCheckbox1' checked disabled>" +
                                                    "<label for='customCheckbox1' class='custom-control-label'></label>" +
                                                    "</div>" +
                                                    "</div>" +
                                                    "</div>" +
                                                    "</div >" + "");
                                            } else
                                                if (value.EstadoProyecto == "En proceso") {
                                                    console.log("En Proceso: " + value.Nombre);
                                                    $(".cardEnProceso").append("<div class='card card-secondary card-outline'>" +
                                                        "<div class='card-header'>" +
                                                        "<h5 class='card-title'>" + value.Nombre + "</h5>" +
                                                        "<div class='card-tools'>" +
                                                        "<a href='#' class='btn btn-tool'>" +
                                                        "<i class='fas fa-pen' style='color: #6c757d;'></i>" +
                                                        "</a>" +
                                                        "<a href='#' class='btn btn-tool'>" +
                                                        "<i class='fas fa-pen' style='color: #dc3545;'></i>" +
                                                        "</a>" +
                                                        "<a href='#' class='btn btn-tool'>" +
                                                        "<i class='fas fa-pen' style='color:#ffc107;'></i>" +
                                                        "</a>" +
                                                        "<a href='#' class='btn btn-tool'>" +
                                                        "<i class='fas fa-pen' style='color: #28a745;'></i>" +
                                                        "</a>" +
                                                        "<a href='#' class='btn btn-tool'>" +
                                                        "<i class='fas fa-search' style='color: #007bff;'></i>" +
                                                        "</a>" +
                                                        "</div>" +
                                                        "</div >" +
                                                        "<div class='card-body'>" +
                                                        "<div class='agregarTareas'>" +
                                                        "<div class='custom-control custom-checkbox'>" +
                                                        "<input class='custom-control-input' type='checkbox' id='customCheckbox1' checked disabled>" +
                                                        "<label for='customCheckbox1' class='custom-control-label'></label>" +
                                                        "</div>" +
                                                        "</div>" +
                                                        "</div>" +
                                                        "</div >" + "");



                                                } else
                                                    if (value.EstadoProyecto == "Concluido") {
                                                        console.log("Concluido: " + value.Nombre);
                                                        $(".cardConcluido").append("<div class='card card-secondary card-outline'>" +
                                                            "<div class='card-header'style='word-break: break-all;'>" +
                                                            "<h5 class='card-title'>" + value.Nombre + "</h5>" +
                                                            "<div class='card-tools'>" +
                                                            "<a href='#' class='btn btn-tool'>" +
                                                            "<i class='fas fa-pen' style='color: #6c757d;'></i>" +
                                                            "</a>" +
                                                            "<a href='#' class='btn btn-tool'>" +
                                                            "<i class='fas fa-pen' style='color: #dc3545;'></i>" +
                                                            "</a>" +
                                                            "<a href='#' class='btn btn-tool'>" +
                                                            "<i class='fas fa-pen' style='color:#ffc107;'></i>" +
                                                            "</a>" +
                                                            "<a href='#' class='btn btn-tool'>" +
                                                            "<i class='fas fa-pen' style='color: #28a745;'></i>" +
                                                            "</a>" +
                                                            "<a href='#' class='btn btn-tool'>" +
                                                            "<i class='fas fa-search' style='color: #007bff;'></i>" +
                                                            "</a>" +
                                                            "</div>" +
                                                            "</div >" +
                                                            "<div class='card-body'>" +
                                                            "<div class='agregarTareas'>" +
                                                            "<div class='custom-control custom-checkbox'>" +
                                                            "<input class='custom-control-input' type='checkbox' id='customCheckbox1' checked disabled>" +
                                                            "<label for='customCheckbox1' class='custom-control-label'></label>" +
                                                            "</div>" +
                                                            "</div>" +
                                                            "</div>" +
                                                            "</div >" + "");
                                                    }


                                    
                                    


                                });




                            } else {

                                console.log("No hay informacion");
                            }


                        },
                        error: function (request, error) {
                            console.log("Request: " + JSON.stringify(request));
                        }
                    });


            }


        });

        function BuscarTareas(IdProyecto) {
            
            if (IdProyecto != "" ) {
                     $.ajax({
                        type: "get",
                        url: '@Url.Action("GetTareasPorProyecto", "Proyectos")' + '?Id=' + IdProyecto,
                            success: function (listaTareas) {
                             
                                if (listaTareas.data != 0) {
                                    $(listaTareas.data).each(function (i, value) {
                                        console.log(value);
                                    console.log(listaInformacion);
                                    $(".agregarTareas").append("<div class='custom-control custom-checkbox'>" +
                                        "<input class='custom-control-input' type='checkbox' id='customCheckbox1' checked disabled>"+
                                        "<label for='customCheckbox1' class='custom-control-label'></label>"+
                                        "</div>" + "");
                                });
                            } else {
                                $(".agregarTareas").append("<div> a"+
                                    "</div>" + "");
                                console.log("No hay informacion");
                            }


                        },
                        error: function (request, error) {
                            console.log("Request: " + JSON.stringify(request));
                            console.log(error);
                        }
                    });

                
            }
            
        }





    </script>
}